* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin-top: 0 !important;
  padding: 0; }

body {
  min-height: 100vh; }

#wpadminbar {
  display: none; }

.navbar-default {
  background-color: #404040;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    color: #f2f2f2; }
    .navbar-default .navbar-brand:visited {
      color: #f2f2f2; }
    .navbar-default .navbar-brand:hover {
      color: #c1c1c1; }
    .navbar-default .navbar-brand:focus {
      color: #c1c1c1; }
    .navbar-default .navbar-brand:active {
      color: #c1c1c1; }

.navbar-default .navbar-nav > li > a:visited {
  color: #f2f2f2; }

.navbar-default .navbar-nav > li > a:link {
  color: #f2f2f2; }

.navbar-default .navbar-nav > li > a:hover {
  color: #c1c1c1; }

.navbar-default .navbar-nav > li > a:focus {
  color: #c1c1c1; }

.navbar-default .navbar-nav > li > a:active {
  color: #c1c1c1; }

.current-menu-item a {
  color: #333 !important;
  background-color: #e7e7e7; }
  .current-menu-item a:visited {
    color: #333 !important;
    background-color: #e7e7e7; }
  .current-menu-item a:hover {
    color: #333 !important;
    background-color: #e7e7e7 !important; }

.site-footer {
  width: 100%;
  position: relative;
  margin-top: 30px;
  bottom: 0;
  padding: 30px 0;
  background-color: #e7e7e7; }

.content-section {
  min-height: 76vh; }

ul.footer-menu-list {
  margin: 0;
  padding: 0; }
  ul.footer-menu-list li {
    text-decoration: none;
    list-style: none;
    float: left;
    margin-right: 30px; }
    ul.footer-menu-list li:last-child {
      margin-right: 0; }
    ul.footer-menu-list li a {
      color: #777; }
      ul.footer-menu-list li a:link {
        color: #777; }
      ul.footer-menu-list li a:visited {
        color: #777; }
      ul.footer-menu-list li a:focus {
        color: #777; }
      ul.footer-menu-list li a:hover {
        color: #333;
        text-decoration: none; }

.wp-post-image {
  float: left;
  margin-right: 10px; }

.mini-meta {
  font-size: 0.8em;
  color: #4196BF; }
