* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(#ccc, #fff);
}

#wpadminbar {
  display: none;
}


.navbar-default {
  background-color: #404040;
  border-radius: 0;
  border: none;

  .navbar-brand {
    color: #f2f2f2;

    &:visited {
      color: #f2f2f2;
    }

    &:hover {
      color: #c1c1c1;
    }

    &:focus {
      color: #c1c1c1;
    }

    &:active {
      color: #c1c1c1;
    }
  }
}

.navbar-default .navbar-nav>li>a {
  &:visited {
    color: #f2f2f2;
  }

  &:link {
    color: #f2f2f2;
  }

  &:hover {
    color: #c1c1c1;
  }

  &:focus {
    color: #c1c1c1;
  }

  &:active {
    color: #c1c1c1;
  }
}

.current-menu-item a {
  color: #333 !important;
  background-color: #e7e7e7;

  &:visited {
    color: #333 !important;
    background-color: #e7e7e7;
  }

  &:hover {
    color: #333 !important;
    background-color: #e7e7e7 !important;
  }

}

body>.container>.row {
  border-radius: 10px 10px 0 0;

}

.site-footer {
  width: 100%;
  position: relative;
  margin-top: 30px;
  bottom: 0;
  padding: 30px 0;
  background-color: #e7e7e7;

  .container>.row {
    background-color: transparent;
  }
}

.content-section {
  min-height: 76vh;
}

.row {
  background-color: #fff;
}

.page-header {
  padding: 15px 15px;
  padding-top: 0;
}

ul.footer-menu-list {
  margin: 0;
  padding: 0;

  li {
    text-decoration: none;
    list-style: none;
    float: left;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #777;

      &:link {
        color: #777;
      }

      &:visited {
        color: #777;
      }

      &:focus {
        color: #777;
      }

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }

  }
}

.gallery-image-responsive {
  border: none !important;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wp-post-image {
  float: left;
  margin-right: 10px;
}

.mini-meta {
  font-size: 0.8em;
  color: #4196BF;
}