* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
  padding: 0;
}

body {
  min-height: 100vh;
}

#wpadminbar {
  display: none;
}


.navbar-default {
  background-color: #404040;
  border-radius: 0;

  .navbar-brand {
    color: #f2f2f2;

    &:visited {
      color: #f2f2f2;
    }

    &:hover {
      color: #c1c1c1;
    }

    &:focus {
      color: #c1c1c1;
    }

    &:active {
      color: #c1c1c1;
    }
  }
}

.navbar-default .navbar-nav>li>a {
  &:visited {
    color: #f2f2f2;
  }

  &:link {
    color: #f2f2f2;
  }

  &:hover {
    color: #c1c1c1;
  }

  &:focus {
    color: #c1c1c1;
  }

  &:active {
    color: #c1c1c1;
  }
}

.current-menu-item a {
  color: #333 !important;
  background-color: #e7e7e7;

  &:visited {
    color: #333 !important;
    background-color: #e7e7e7;
  }

  &:hover {
    color: #333 !important;
    background-color: #e7e7e7 !important;
  }

}


.site-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 30px 0;
  background-color: #e7e7e7;
}



ul.footer-menu-list {
  margin: 0;
  padding: 0;

  li {
    text-decoration: none;
    list-style: none;
    float: left;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #777;

      &:link {
        color: #777;
      }

      &:visited {
        color: #777;
      }

      &:focus {
        color: #777;
      }

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }

  }
}

.wp-post-image {
  float: left;
  margin-right: 10px;
}

.mini-meta {
  font-size: 0.8em;
  color: #4196BF;
}